---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: hedgetrimmer-selfsigned
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: hedgetrimmer
spec:
  secretName: hedgetrimmer
  dnsNames:
    - hedgetrimmer.hedgetrimmer.svc
    - hedgetrimmer.hedgetrimmer.svc.cluster.local
  issuerRef:
    name: hedgetrimmer-selfsigned

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hedgetrimmer
  labels:
    app: hedgetrimmer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hedgetrimmer
  template:
    metadata:
      labels:
        app: hedgetrimmer
    spec:
      containers:
        - name: hedgetrimmer
          image: registry.example.com/hedgetrimmer:latest
          args:
            - "--log-level=debug"
          imagePullPolicy: Always
          resources:
            requests:
              memory: 20Mi
            limits:
              memory: 20Mi
          volumeMounts:
            - name: webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          ports:
            - containerPort: 8081
              name: metrics
            - containerPort: 8443
              name: webhooks
            - containerPort: 8080
              name: probes
      serviceAccountName: hedgetrimmer
      volumes:
        - name: webhook-certs
          secret:
            secretName: hedgetrimmer

---   
apiVersion: v1
kind: Service
metadata:
  name: hedgetrimmer
  labels:
    app: hedgetrimmer
spec:
  ports:
  - port: 80
    targetPort: 8081
    name: metrics   
  - port: 8443
    targetPort: 8443
    name: webhooks
  - port: 8080
    targetPort: 8080
    name: probes
  selector:
    app: hedgetrimmer

---   
apiVersion: v1
kind: ServiceAccount
metadata:
  name: hedgetrimmer
  labels:
    app: hedgetrimmer

---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: hedgetrimmer
  annotations:
    cert-manager.io/inject-ca-from: hedgetrimmer/hedgetrimmer
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: hedgetrimmer
      path: /mutate
      port: 8443
      namespace: "hedgetrimmer"
  sideEffects: None
  admissionReviewVersions: ["v1", "v1beta1"]
  failurePolicy: Ignore
  name: v1beta1.hedgetrimmer.kanopy-platform.github.io
  reinvocationPolicy: IfNeeded
  namespaceSelector:
    matchExpressions:
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
      - kube-system
  rules:
  - apiGroups:
    - apps
    apiVersions:
    - "*"
    operations:
    - CREATE
    - UPDATE
    resources:
    - statefulsets
    - deployments
    - replicasets
    - daemonsets
    scope: "Namespaced"
  - apiGroups:
    - batch
    apiVersions:
    - "*"
    operations:
    - CREATE
    - UPDATE
    resources:
    - cronjobs
    - jobs
    scope: "Namespaced"
  - apiGroups:
    - ""
    apiVersions:
    - "*"
    operations:
    - CREATE
    - UPDATE
    resources:
    - replicationcontrollers
    - pods
    scope: "Namespaced"
